
<div class="widget-container" >
  <div class="row">
    <div class="widget green">
        <div class="flex-shrink-0">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-2.webp"
              alt="Generic placeholder image" class="img-fluid rounded-circle border border-dark border-3"
              style="width: 70px;">
          </div>
     <div class="value" style="font:100;">
        <div class="top" >Nivedha</div>
        <div class="bottom">Reg.No: 6798487</div><br>
        <button type="button" class="btn btn-outline-dark btn-rounded btn-sm"data-mdb-ripple-color="dark" style="color: #fff; background-color:cornflowerblue" [routerLink]="['/profile']">See profile</button>
      </div>
    </div>
    <div class="widget yellow">
        <div class="flex-shrink-0">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-2.webp"
              alt="Generic placeholder image" class="img-fluid rounded-circle border border-dark border-3"
              style="width: 70px;">
          </div>
          
        <div class="value ">
          <div class="top">Nivedha </div>
          <div class="bottom">Reg.No: 6798487</div><br>
          <button type="button" class="btn btn-outline-dark btn-rounded btn-sm"data-mdb-ripple-color="dark" style="color: #fff; background-color:cornflowerblue" [routerLink]="['/profile']">See profile</button>
        </div>
      </div>
      <div class="widget red">
        <div class="flex-shrink-0">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-2.webp"
              alt="Generic placeholder image" class="img-fluid rounded-circle border border-dark border-3"
              style="width: 70px;">
          </div>
        <div class="value">
          <div class="top">Nivedha D</div>
          <div class="bottom">Reg.No: 6798487</div><br>
          <button type="button" class="btn btn-outline-dark btn-rounded btn-sm"data-mdb-ripple-color="dark" style="color: #fff; background-color:cornflowerblue" [routerLink]="['/profile']">See profile</button>
        </div>
      </div>
      <div class="widget blue">
        <div class="flex-shrink-0">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-2.webp"
              alt="Generic placeholder image" class="img-fluid rounded-circle border border-dark border-3"
              style="width: 70px;">
          </div>
        <div class="value">
          <div class="top">Nivedha </div>
          <div class="bottom">Reg.No: 6798487</div><br>
          <button type="button" class="btn btn-outline-dark btn-rounded btn-sm"data-mdb-ripple-color="dark" style="color: #fff; background-color:cornflowerblue" [routerLink]="['/profile']">See profile</button>
        </div>
        
      </div>
      </div>
    
    </div>
   
    