.widget-container {
    display: flex;
    align-items: space-between;
    .widget {
      width: 325px;
      height: 175px;
      background-color: #fff;
      color: #fff;
      border-radius: 5px;
      margin: 10px;
      box-shadow: 5px 5px 5px #939393;
      display: flex;
      align-items:stretch;
      padding: 20px;
      &.green {
        background-color: rgb(97, 163, 126);
      }
      &.yellow {
        background-color: rgb(208, 166, 99);
      }
      &.red {
        background-color: rgb(139, 100, 100);
      }
      &.blue {
        background-color: rgb(93, 81, 115);
      }
      &.pink {
        background-color: rgb(126, 86, 111);
      }
      &.grey {
        background-color: rgb(86, 85, 85);
      }
      @media only screen and (max-width: 1600px) {
        width: 300px;
      }
      @media only screen and (max-width: 1500px) {
        width: 275px;
      }
      @media only screen and (max-width: 1400px) {
        width: 250px;
      }
      @media only screen and (max-width: 1200px) {
        width: 225px;
      }
      @media only screen and (max-width: 1300px) {
        width: 235px;
      }
      @media only screen and (max-width: 1400px) {
        width: 235px;
      }
  
      .icon {
        width: 100px;
        font-size: 15px;
        text-align:center;
        @media only screen and (max-width: 1200px) {
          font-size: 20px;
        }
      }
      .value {
        text-align: center;
        width: 175px;
        .top {
          font-size: 20px;
          @media only screen and (max-width: 1200px) {
            font-size: 15px;
          }
        }
        .value {
          text-align: center;
          width: 175px;
          .top {
            font-size: 20px;
            @media only screen and (max-width: 1200px) {
              font-size: 15px;
            }
          }
        }
        .bottom {
          font-size: 15px;
          margin-top: 10px;
          @media only screen and (max-width: 1200px) {
            font-size: 20px;
          }
        }
      }
    }
  }